/* Final Project SDEV153 */

html 
{
   background-color:#006bb3;/*BG color for the site*/
}

header 
{
	position: relative;
    padding: 0.0px;
}

/*Style for main navagation*/
.sitenavigation 
{
	text-align:center;
	border-radius: 25px;
    background: #f2f2f2;
    padding: 20px;
    width: 100px;
    height: 550px;
	margin-top:20px;
}
 
 /*Style for community navagation*/
.communitynavigation
{
	margin-top:20px;
	text-align:center;
	border-radius: 25px;
    background: #f2f2f2;
    padding: 20px;
    width: 100px;
    height: 500px;
	margin-top:20px;
}
 
 /*Style for article*/
.articlecontainer
{
	float:top;
	text-align:center;
	border-radius: 25px;
    background: #f2f2f2;
    padding: 20px;
    width: 600px;
    height: 700px;
	margin-left:300px;
	margin-top:20px;
	position:absolute;
	top:0em;
}
 /*Style for contact article*/
.contactarticlecontainer
{
	float:top;
	text-align:center;
	border-radius: 25px;
    background: #f2f2f2;
    padding: 20px;
    width: 600px;
    height: 850px;
	margin-left:230px;
	margin-top:20px;
	position:absolute;
	top:0em;
}

.visitorinfo
{
	float:top;
	text-align:center;
	border-radius: 25px;
    background: #f2f2f2;
    padding: 20px;
    width: 900px;
    height: 700px;
	margin-left:300px;
	margin-top:20px;
	position:absolute;
	top:0em;
}

 /*Style for Time Capsule article*/
.timecapsulearticlecontainer
{
	float:top;
	text-align:center;
	border-radius: 25px;
    background: #f2f2f2;
    padding: 20px;
    width: 600px;
    height: 1000px;
	margin-left:300px;
	margin-top:20px;
	position:absolute;
	top:0em;
}
/*style for fixed contact page on right side of contacts page*/
.contactinforightside
{
	float:top;
	text-align:center;
	border-radius: 25px;
    background: #f2f2f2;
    padding: 20px;
    width: 250px;
    height: 400px;
	margin-left:960px;
	margin-top:20px;
	position:fixed;
	top:2px;
}

.staffimage1
{

	position:absolute;
	top:595px;
	left:50px;
	margin-left:0px;
}

.staffimage2
{
	position:absolute;
	top:750px;
	left:50px;
	margin-left:0px;
}

/* Dropdown Button */
.dropbtn 
{
    background-color: #4CAF50;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdowncommunity 
{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


/* Show the dropdown menu on hover */
.dropdowncommunity:hover .dropdown-content 
{
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdowncommunity:hover .dropbtn 
{
    background-color: #3e8e41;
}